/**************************************
 ユーザー新規登録画面
 **************************************/

 .signup-main{
  height: 900px;
  width: 100vw;
  display: flex;
 }

 .signup-form{
  height: 650px;
  width: 600px;
  border: 2px solid darkgray;
  border-radius: 10px;
  margin: 80px auto;
  display: flex;
  justify-content: space-around;
 }

 .input-form{
  width: 400px;
  padding: 50px 0;
 }

 .form-index{
  text-align: center;
  margin-bottom: 50px;
 }

 .form-index h2{
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
 }

 .registration-main{
  width: 100%;
  
 }

 .form-group{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
 }

 .indispensable {
  background: rgb(225, 78, 78);
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.input-default {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.register-btn{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.register-confirm-btn{
  width: 100px;
  height: 50px;
  background-color: rgb(225, 78, 78);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

#nickname{
  height: 30px;
}

#email{
  height: 30px;
}

#password{
  height: 30px;
}

#password-confirmation{
  height: 30px;
}