/*************************
ログイン画面
*************************/
.signin-main{
  height: 500px;
  width: 100vw;
  display: flex;
 }

 .signin-form{
  height: 480px;
  width: 600px;
  border: 2px solid darkgray;
  border-radius: 10px;
  margin: 80px auto;
  display: flex;
  justify-content: space-around;
 }

.login-flash-message{
  margin-bottom: 20px;
}

.login-btn{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.login-confirm-btn{
  width: 100px;
  height: 50px;
  background-color: rgb(58, 58, 57);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}