* {
  box-sizing: border-box;
}

.header-main{
  height: 90px;
  width: 100vw;
  display: flex;
  background-color: burlywood;
  align-content: center;
  
  
}

.header-left{
  width: 50%;
  padding-left: 50px;
}

.header-right{
  width: 50%;
}

.header-title{
  height: 100%;
  display: flex;
  align-items: center;
}

.title{
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.nav{
  align-content: center;
  justify-content: end;
  height: 100%;
  display: flex;
}

.btn-space{
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.new-btn{
  height: 40px;
  width: 120px;
  line-height: 40px;
  border-radius: 5px;
  background-color: darkgray;
  text-align: center;
}

.new-btn-text{
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.loglist{
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-nickname{
  margin-right: 30px;
}

.link-text{
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  line-height: 100%;
}

.logout{
  margin-right: 30px;
}

.login{
  margin-right: 30px;
}

.sign-up{
  margin-right: 30px;
}