* {
  box-sizing: border-box;
}

.main{
  height: 100vh;
  width: 100vw;
  background-color: white;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}
.hotel-lists{
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
}
.lists{
  width: 80vw;
  margin: 0 50px;
}

.list{
  list-style: none;
  margin-right: 30px;
  margin-bottom: 30px;
}

.hotel-img-content{
  height: 250px;
  width: 350px;
}

.hotel-img{
  height: 250px;
  width: 350px;
  object-fit: cover;
}

.hotel-info{
  padding-left: 10px;
  padding-bottom: 10px;
}

.hotels-name{
  margin-top: 10px;
  margin-bottom: 5px;
}
.hotel-name{
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: darkgray;
}

.hotel-address{
  font-size: 13px;
  text-decoration: none;
  color: darkgray;
}
.user-name{
  font-size: 13px;
  color: darkgray;
  text-align: end;
  margin-right: 10px;
}

