.hotel-show-main{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.hotel-show{
  width: 900px;
  justify-content: center;
  padding: 20px;
  margin-bottom: 80px;
}

.hotel-show-name{
  font-size: 30px;
  color: darkgray;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.hotel-show-address{
 font-size: 18px;
 color: darkgray;
 text-align: center;
 margin-bottom: 10px;
}

.hotel-show-nickname{
  width: 700px;
  font-size: 15px;
  color: darkgray;
  margin-bottom: 20px;
  text-align: end;
}

.hotel-contents{
  height: 500px;
  object-fit: contain;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.hotel-show-text{
  font-size: 18px;
  color: darkgray;
  text-align: center;
}
