body{
  height: 100vh;
}
.hotel-show-main{
  height: 1000px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.hotel-show{
  width: 100%;
  justify-content: center;
  padding: 20px;
  margin-bottom: 80px;
}

.hotel-show-name{
  font-size: 30px;
  color: rgb(58, 58, 57);
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.hotel-show-address{
 font-size: 18px;
 color: rgb(58, 58, 57);
 text-align: center;
 margin-bottom: 10px;
}

.hotel-show-nickname{
  width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
}

.nickname-text{
  text-align: end;
  margin-right: 30px;
}

.nickname-text a {
  font-size: 15px;
  color: rgb(58, 58, 57);
  text-decoration: none;
}

.hotel-contents{
  height: 800px;
  object-fit: contain;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.text-space{
  display: flex;
  justify-content: center;
}

.hotel-show-text{
  width: 500px;
  font-size: 18px;
  color: rgb(58, 58, 57);
}

.btns{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.edit-btn{
  height: 40px;
  width: 100px;
  border-radius: 5px;
  background-color: rgb(58, 58, 57);
  text-align: center;
  margin-right: 10px;
}

.edit-btn-text{
  font-size: 20px;
  color: white;
  line-height: 40px;
  text-decoration: none;
}

.delete-btn{
  height: 40px;
  width: 100px;
  border-radius: 5px;
  background-color: rgb(58, 58, 57);
  text-align: center;
}

.delete-btn-text{
  font-size: 20px;
  color: white;
  line-height: 40px;
  text-decoration: none;
}
/*********************************
スライド
*********************************/
.hotel-show-images {
  display: flex;
  justify-content: center;
}

.hotel-show-image{
  display: inline-block;
  position: relative;
  width: 1100px;
  margin: 0;
  padding: 0  ;
  height: 500px;
  display: none;
}

.hotel-show-image.slick-initialized {
  display: block;
}

.hotel-show-image > .slick-list,
.hotel-show-image > .slick-list > .slick-track,
.hotel-show-image > .slick-list > .slick-track > .slick-slide > div {
  position: relative;
  height: 100%;
}

.hotel-show-image .slick-slide {
  margin: 0 60px;
  padding: 60px 0;
  position: relative;
}

.hotel-show-image .slick-slide .slide-img{
  width: 600px;
  height: 400px;
  transition: all 0.6s ease;
    opacity: 0.3;
  box-shadow: 7px 7px 14px -5px #666;
  overflow: hidden;
}

.hotel-show-image .slick-center .slide-img{
  transform: block;
  opacity: 1;
}

.hotel-show-image .slick-slide .slide-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hotel-show-image .slick-arrow{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  border: none;
  font-size: 0;
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
}

.hotel-show-image .slick-arrow::before{
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #09000d;
  border-width: 3px 3px 0 0;
  position: absolute;
  top: 24px;
  transform: rotate(45deg);
}

.hotel-show-image .slick-next {
  right: 0;
}

.hotel-show-image .slick-prev {
  left: 0;
}

.hotel-show-image .slick-next::before {
  left: 20px;
}

.hotel-show-image .slick-prev::before {
  border-width: 0 0 3px 3px;
  right: 22px;
}

.dots .slick-dots {
  text-align: center;
}
.dots .slick-dots li {
  display: inline-block;
}
.dots .slick-dots button {
  display: block;
  width: 10px;
  height: 10px;
  margin: 6px;
  font-size: 0;
  padding: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  background: #bcbcbc;
  border-radius: 50%;
}
.dots .slick-dots .slick-active button {
  background: #0a467d;
}

.dots {
  height: 470px;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}
